/* Custom styles */
body {
    /* padding-top: 36px; Adjust for fixed navba height */
    margin: 56px;
}

#header {
    width: 100%;
    height: auto;
}
/* ====== Navbar ===== */
.navbar {
    /* transition: opacity 0.5s ease-in-out; */
    /* display: flex; */
    align-items: center;

}

.navbar-right {
    /* display: flex; */
    align-items: center;
    position: fixed;
    top: 00px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    transition: 0 ;
    z-index: 1050;
    opacity: 1;
    padding: 0.5rem 0.5rem;
    /* width: 56px;
    height: 40px; */

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;

}

.navbar-toggler {
    padding: 0.25rem 0.25rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
/* remove border of search button */
.btn-outline-light {
    --bs-btn-border-color: transparent;
}


.navbar-left {
    display: flex;
    transition: opacity 0.5s ease-in-out;
}

.bg-dark {
    transition: opacity 0.5s ease-in-out;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="black" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

/* Navbar search */
/* collapse by default */
.collapse {
    display: none;
}

.collapse.show {
    display: flex;
}

@media (min-width: 992px) {
    .fixed-buttons .btn-outline-light {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .fixed-buttons .navbar-toggler {
        display: block;
    }
}


/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    header nav .d-flex.align-items-center.position-relative {

    }   
} */