/* Custom styles */
body {
    /* padding-top: 36px; Adjust for fixed navba height */
    margin: 56px;
}

#header {
    width: 100%;
    height: auto;
}
/* ====== Navbar ===== */
.navbar {
    /* transition: opacity 0.5s ease-in-out; */
    transition: opacity 1s ease;
}

/* .navbar-toggler {
    position: fixed;
    height: auto;
    top: 10px;
    right: 10px; */
    /* cursor: pointer; */
    /* z-index: 1050;   Ensure it stays on top */
.position-relative {
    position: relative;
}

/* Style the toggler container separately */
.navbar-toggler-container {
    position: fixed;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    z-index: 1050;
    transition: opacity 0.3s ease;
}
/* Make sure toggler button and search button are visible */
/* .fixed-buttons .navbar-toggler,
.fixed-buttons .btn-outline-light {
    display: none;
} */

/* Navbar search */
/* collapse by default */
.collapse {
    display: none;
}

.collapse.show {
    display: flex;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none; /* Hide toggler on desktop */
    }

    .fixed-buttons .btn-outline-light {
        display: block;
    }
}

@media (max-width: 991.98px) {
    .fixed-buttons .navbar-toggler {
        display: block;
    }
}


/* Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    header nav .d-flex.align-items-center.position-relative {

    }   
} */