AuthUserFile /data/web/virtuals/279913/virtual/www/secret/.htpasswd
AuthGroupFile /dev/null
AuthName "Restricted Area"
AuthType Basic
Require valid-user
# Disable directory listing
Options -Indexes

<RequireAll>
    Require all denied
</RequireAll>

# Redirect users who fail authentication to a home page
ErrorDocument 401 /index.html