#canvas4 {
    border: .3em solid gray;
    background-color: black;
    position: relative;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, 10%); */
    width: 80vw;
    max-width: 600px;
    height: width;
    max-height: 600px;
}